.footer {

    &__top-line {
        padding: 69px 0 42px 0;
        background: #323232;
    }

    &__menu {
        display: flex;

        li {
            margin-left: 47px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    &__menu_link {
        color: #fff;
        font-weight: bold;
    }

    &__bottom-line {
        padding: 29px 0;
        font-size: 12px;

        a {
            color: #000;
        }
    }

    .right-block {
        display: flex;
    }

    .contact-phone {
        color: #fff;
        font-weight: bold;
        margin-left: 127px;

        img {
            margin-right: 10px;
        }
    }
    
    .logo {
        color: #fff;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

